@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#main-body {
    background-color: #EEF0F8;
    position: relative;
}

.navbar {
    height: 4rem;
    background-color: rgb(2, 36, 72);
}

.navbar img {
    height: 3rem;
}

.container {
    height: calc(100% - 8rem);
    border: 1px solid #cad1ee;
    width: 70vw;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    grid-template-rows: repeat(3, 8rem);
}

.board-item:hover {
    background-color: #EEF0F8;
}

.board-item, .board-item:hover, .board-item:active {
    border-color: #cad1ee !important;
}

.board-item {
    font-size: 5rem;
    line-height: 0 !important;
}

.board-item:nth-child(1),
.board-item:nth-child(2),
.board-item:nth-child(3) {
    border-top-color: transparent !important;
}

.board-item:nth-child(3),
.board-item:nth-child(6),
.board-item:nth-child(9) {
    border-right-color: transparent !important;
}

.board-item:nth-child(1),
.board-item:nth-child(4),
.board-item:nth-child(7) {
    border-left-color: transparent !important;
}

.board-item:nth-child(7),
.board-item:nth-child(8),
.board-item:nth-child(9) {
    border-bottom-color: transparent !important;
}

.start-container {
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.players h2 {
    color: rgb(2, 36, 72);
    letter-spacing: 1px;
}

.players span {
    font-size: 4rem;
    line-height: 2rem;
}

.player-1 span {
    color: blue;
}

.player-1, .player-2 {
    height: 10rem;
    background-color: rgba(165, 198, 234, 0.2)
}

.player-1, .player-2 {
    padding: 0 3rem;
}

.player-2 span {
    color: green;
}

.restart-container {
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

#winner-mark {
    font-size: 4rem;
}

.active-sign {
    top: 1rem;
    left: 1rem;
    font-size: 4rem;
    padding-bottom: 0.5rem;
    height: 6rem;
    width: 6rem;
    color: blue;
    background-color: rgba(165, 198, 234, 0.2)
}

.active-o {
    left: auto;
    right: 1rem;
    color: green;
}

.owner {
    position: absolute;
    bottom: 0rem;
    padding: 0.3rem 1rem;
    left: calc(50% - (207px / 2))
}

.fa-copyright {
    margin-right: 0.3rem;
}

#date {
    margin-right: 1rem;
    position: relative;
}

#date::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0.5px;
    right: -0.5rem;
    background-color: rgba(0, 36, 74, 0.5);
}

.owner span, .owner i {
    font-size: 1rem;
    color: rgb(0, 36, 74);
}

.owner a:hover {
    opacity: 1 !important;
}